<div class="cover" >
    <div class="navbar">
        <div class="container">
            <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><span>caution: work in progress</span></a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-ex-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                <a href="#">Login</a>
                </li>
            </ul>
            </div>
        </div>
    </div>
    <div class="cover-image" style="background-image: url(../img/intro-bg.jpg); "></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
            <h1 class="text-inverse">jody nichols (.com)</h1>
            <p class="text-inverse">travel. engineer.</p>
            <ul class="list-inline intro-social-buttons">
                <li>
                    <a href="https://www.facebook.com/nichols.jody" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                </li>
                <li>
                    <a href="https://github.com/nichojo" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/jodynichols/" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                </li>
            </ul>
            <br>
            <br>
            </div>
        </div>
    </div>
</div>
{{outlet}}
