  <div class="section">
      <div class="container">
      
      </div>
    </div>
    <div class="section">
      <div class="container">
            <div class="row">
          <div class="col-md-12">
            <h1>Data Capture</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p>Please enter the following information:</p>
          </div>
        </div>
        <div class="row">
            
          <div class="col-md-12">
            <form role="form">
              <div class="form-group">
                <label class="control-label" for="fromAirport">From Airport</label>
                <input class="form-control" id="fromAirport"
                placeholder="KATL/Hartsfield" type="text">
              </div>
              <div class="form-group">
                <label class="control-label" for="toAirport">To Airport</label>
                <input class="form-control" id="toAirport"
                placeholder="KLAX/Los Angeles Int'l" type="text">
              </div>
              <div class="form-group">
                <label class="control-label" for="airline">Airline</label>
                <input class="form-control" id="airline"
                placeholder="DL/Delta" type="text">
              </div>
              <div class="form-group">
                <label class="control-label" for="fareClass">Fare Class</label>
                <input class="form-control" id="fareClass"
                placeholder="Y/B/M/..." type="text">
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>{{outlet}}
